.card {
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 575px) {
    padding: 15px;
  }
  .imageHolder {
    text-align: center;
    position: relative;
    // margin-bottom: 20px;
    // margin-top: 5px;
    margin: auto auto 20px auto;
    > img {
      width: 100%;
      max-height: 210px;
      object-fit: contain;
    }
  }
  .title {
    text-align: left;
    margin-bottom: 10px;
    color: #009688;
    font-weight: 600;
    @media screen and (max-width: 575px) {
      font-size: 15px;
    }
  }
  .price {
    text-align: left;
    margin-bottom: 10px;
    @media screen and (max-width: 575px) {
      font-size: 15px;
    }
  }
  .starRating {
    text-align: left;
    margin-bottom: 10px;
  }
  button {
    background-color: #009688;
    border: 1px solid #009688;
    line-height: 1;
    padding: 5px 10px;
    cursor: pointer !important;
    margin: auto auto 0 auto;
    min-width: 130px;
    max-width: 200px;
    width: -moz-fit-content;
    width: fit-content;
    height: 35px;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
    // text-shadow: 0 0 2px black;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all;
    &:hover {
      background-color: transparent;
      color: #009688;
    }
    &.disabled {
      pointer-events: none;
      background: #ccc !important;
      border: #ccc;
    }
  }
}
