.card {
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .imageHolder {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
    > img {
      width: 100%;
      max-height: 250px;
      object-fit: contain;
    }
  }
  .title {
    text-align: left;
    margin-bottom: 10px;
  }
  .price {
    text-align: left;
    margin-bottom: 10px;
  }
  .starRating {
    text-align: left;
    margin-bottom: 10px;
  }
  button {
    background-color: #ff9f00;
    border: none;
    padding: 5px 10px;
    cursor: pointer !important;
    margin: auto auto 0 auto;
    min-width: 130px;
    max-width: 200px;
    width: -moz-fit-content;
    width: fit-content;
    height: 35px;
    font-weight: 600;
    border-radius: 4px;
  }
}
