.banner {
  //   height: 300px;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
}

.ulList {
  display: flex;
  list-style-type: none;
  li {
    margin-right: 15px;
    &.active {
      color: red;
    }
  }
}

.hexagon-a {
  max-width: 360px;
  height: calc(360px - 20px);
  background: #000;
  position: relative;
  margin: 0 auto;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 340px;
    background: red;
    margin: 0 auto;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    color: #fff;
    transform: scale(0.95);
  }
  // &::before {
  //   content: "";
  //   width: 150px;
  //   height: 250px;
  //   background: red;
  //   display: block;
  //   transform: rotate(62deg);
  //   position: absolute;
  //   top: 0;
  // }
  // &::after {
  //   content: "";
  //   width: 150px;
  //   height: 250px;
  //   background: green;
  //   display: block;
  //   transform: rotate(-62deg);
  //   position: absolute;
  //   top: 0;
  // }
  form {
    position: relative;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-field {
      margin-bottom: 15px;
      input {
        height: 38px;
        border-radius: 3px;
        border: none;
        outline: none;
        padding: 0 15px;
        box-sizing: border-box;
      }
    }
  }
}

form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  .input-field {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    label {
      width: 100%;
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
    }
    input {
      // width: 100%;
      // height: 38px;
      // border-radius: 4px;
      // border: 1px solid #cdcdcd;
      // padding: 0 12px;
      // outline: none;
      // font-size: 14px;
      // box-sizing: border-box;
      // &::placeholder {
      //   opacity: 0;
      // }
    }
    .float-label {
      position: relative;
      // .float {
      //   position: absolute;
      //   top: 50%;
      //   left: 12px;
      //   transform: translateY(-50%);
      //   color: #cdcdcd;
      //   pointer-events: none;
      //   transition: 0.2s all;
      // }
      // input {
      //   &:focus {
      //     & + .float {
      //       margin-top: -20px;
      //       background: #fff;
      //       padding: 0 6px;
      //       color: #333;
      //     }
      //   }
      // }
    }
  }
}

.date-info {
  text-align: center;
  display: flex;
  min-width: 500px;
  width: 100%;
  margin: 20px auto;
  max-width: 500px;
  justify-content: center;
  .block {
    text-align: center;
    margin-right: 40px;
    text-align: left;
    .title {
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    .getDateValue {
      margin-bottom: 10px;
      span {
        display: block;
      }
    }
  }
}

// .color-wrapper {
//   max-width: 200px;
//   width: 100%;
//   margin: 0 auto 20px;
//   .color-div {
//     width: 150px;
//     height: 150px;
//     // border: 1px solid #000;
//   }
//   .color-box {
//     display: flex;
//     margin-top: 10px;
//     .box {
//       width: 20px;
//       height: 20px;
//       // border: 1px solid #000;
//       margin-right: 10px;
//       border-radius: 50%;
//     }
//   }
// }

// .clip-each {
//   display: block;
//   position: relative;
//   -webkit-clip-path: polygon(
//     25% 5%,
//     75% 5%,
//     100% 50%,
//     75% 95%,
//     25% 95%,
//     0% 50%
//   );
//   clip-path: polygon(23% 0%, 78% 0%, 100% 50%, 78% 100%, 23% 100%, 0% 50%);
//   // -webkit-clip-path: url(#hexagon-clip);
//   // clip-path: url(#hexagon-clip);
//   clip-path: polygon(23% 0%, 78% 0%, 100% 50%, 78% 100%, 23% 100%, 0% 50%);
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
//   // margin: 0 auto;
// }
// .border {
//   background: #fff;
//   display: block;
//   position: relative;
//   -webkit-clip-path: polygon(
//     25% 5%,
//     75% 5%,
//     100% 50%,
//     75% 95%,
//     25% 95%,
//     0% 50%
//   );
//   clip-path: polygon(25% 4%, 74% 4%, 96% 50%, 74% 96%, 26% 96%, 4% 50%);
//   // -webkit-clip-path: url(#hexagon-clip);
//   // clip-path: url(#hexagon-clip);
//   clip-path: polygon(25% 4%, 74% 4%, 96% 50%, 74% 96%, 26% 96%, 4% 50%);
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
//   margin: 0 auto;
//   width: 60px;
//   height: 55px;
// }
// .clip-gradient {
//   background: red;
//   width: 60px;
//   height: 55px;
//   position: relative;
// }
// .clip-gradient img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   object-fit: cover;
//   transform: translate(-50%, -50%);
// }
// .clip-gradient .clip-caption {
//   color: #fff;
// }
// .clip-caption {
//   width: 100%;
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
//   text-align: center;
// }

// .t > div {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 222px;
//   height: 192px;
//   overflow: hidden;

//   transform-origin: 0 0;
//   -ms-transform-origin: 0 0;
//   -webkit-transform-origin: 0 0;

//   -ms-transform: skewX(30deg);
//   -webkit-transform: skewX(30deg);
//   transform: skewX(30deg);
// }
// .t div .triangle {
//   position: absolute;
//   top: 86px;
//   left: -101px;
//   width: 0px;
//   height: 0px;
//   border-style: solid;
//   border-width: 0 103px 176.2px 102px;
//   border-color: transparent transparent #0079c5 transparent;
//   -webkit-backface-visibility: hidden;

//   transition: all 1s;
//   -webkit-transition: all 1s;
//   -moz-transition: all 1s;
//   cursor: pointer;

//   transform-origin: 0 0;
//   -ms-transform-origin: 0 0;
//   -webkit-transform-origin: 0 0;

//   -ms-transform: skewX(-30deg) rotate(-60deg);
//   -webkit-transform: skewX(-30deg) rotate(-60deg);
//   transform: skewX(-30deg) rotate(-60deg);
// }

// .t div .triangle span {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: -45px;
//   bottom: -161px;
//   width: fit-content;
//   transform: skewX(0deg) rotate(180deg);
//   z-index: 99999999999;
//   color: #fff;
//   font-size: 22px;
//   font-weight: bold;
// }

// .t div .triangle span:last-child {
//   height: 20px;
//   width: 20px;
//   left: -13px;
//   bottom: -115px;
//   top: 25px;
//   font-family: sans-serif;
//   opacity: 0;
// }

// .t div .triangle:hover span:last-child {
//   opacity: 1;
// }
// .t div .triangle:hover {
//   border-color: transparent transparent #000000 transparent;

//   transform: skewX(-30deg) rotate(-60deg) translate(-11px, 0) scale(1.1);
//   -webkit-transform: skewX(-30deg) rotate(-60deg) translate(-11px, 0) scale(1.1);
//   -moz-transform: skewX(-30deg) rotate(-60deg) translate(-11px, 0) scale(1.1);
// }
// .t div .triangle::before {
//   border-color: black black #000 black;
//   border-width: 218px 0 127.2px 9px;
//   position: absolute;
//   /* top: 86px; */
//   /* left: -101px; */
//   transform: skewX(0deg) rotate(270deg);
//   content: "";
//   border-style: solid;
// }

// .t > div:nth-child(1) {
//   -ms-transform: skewX(30deg);
//   -webkit-transform: skewX(30deg);
//   transform: skewX(30deg);
// }
// .t > div:nth-child(2) {
//   -ms-transform: rotate(60deg) skewX(30deg);
//   -webkit-transform: rotate(60deg) skewX(30deg);
//   transform: rotate(60deg) skewX(30deg);
// }
// .t > div:nth-child(3) {
//   -ms-transform: rotate(120deg) skewX(30deg);
//   -webkit-transform: rotate(120deg) skewX(30deg);
//   transform: rotate(120deg) skewX(30deg);
// }
// .t > div:nth-child(4) {
//   -ms-transform: rotate(-60deg) skewX(30deg);
//   -webkit-transform: rotate(-60deg) skewX(30deg);
//   transform: rotate(-60deg) skewX(30deg);
// }
// .t > div:nth-child(5) {
//   -ms-transform: rotate(-120deg) skewX(30deg);
//   -webkit-transform: rotate(-120deg) skewX(30deg);
//   transform: rotate(-120deg) skewX(30deg);
// }
// .t > div:nth-child(6) {
//   -ms-transform: rotate(-180deg) skewX(30deg);
//   -webkit-transform: rotate(-180deg) skewX(30deg);
//   transform: rotate(-180deg) skewX(30deg);
// }

.timeButton {
  margin: 20px auto;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer !important;
  letter-spacing: 1px;
}
